/* -----------------------------------
   Imports & Root Variables
----------------------------------- */
@import "tailwindcss";

:root {
  --background: #0b2351;
  --foreground: #e1e1e4;
  --white: #fff;
  --text-dark: #323131;
  --text-blue: #0b2351;
  --teal: #49a6a7; /* Medium teal */
  --orange: #f1b148;
  --black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #e1e1e4;
  }
}

/* -----------------------------------
   Scrollbar Styles
----------------------------------- */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* -----------------------------------
   Body & Background
----------------------------------- */
body {
  background-color: var(--foreground);
  position: relative;
  min-height: 100vh;
  z-index: 0;
}





